

              <div class="d-flex justify-content-between align-items-left movie-card" >
                <div class="card" >
                  <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w200/'+material.poster_path"  >
                  <div class="card-img-overlay" >                   
                   <p>
                      <span class="fa fa-calendar realese-date">
                    {{material.release_date}}
                  </span>
                 </p>           
                  </div>
                  <div class="card-body" >
                    <div *ngIf="isMovie" class="card-text">{{material.title}}</div>
                    <div *ngIf="!isMovie" class="card-text">{{material.name}}</div>
                    <div class="movie-info text-center" >
                      <div class="d-flex justify-content-between align-items-center" >
                        <span class="fa fa-heart heart-red text-left">{{material.vote_average*10}}</span>          
                        <span class="fa fa-globe global text-right">{{material.original_language}}</span>
                      </div>
                      <div *ngIf="isMovie" class="col-12 text-center">
                        <button type="button" 
                        class="btn btn-info btn-sm"
                        [routerLink]="['/movie-details',material.id]">            
                        View</button>
                      </div>
                      <div *ngIf="!isMovie" class="col-12 text-center">
                          <button type="button" 
                          class="btn btn-info btn-sm"
                          [routerLink]="['/tvShow-details',material.id]">            
                          View</button>
                        </div>
                    </div>                      
                  </div>
                </div>
                <div class="div-genre" >
                    <div class="genre" *ngFor="let genre of genres">                   
                      {{genre.name}}
                    </div> 
                   </div>
                 </div>  
    

  